// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,300');

// template styles
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Variables
@import 'variables';

/* Base */
@import "site-base";
/* Navbar */
@import "site-navbar";
/* Blocks */
@import "site-blocks";



.gray {
    color: $eight;
    background-color: $gray-100;
}

video {
    width: 100%;
    height: auto;
}

.title-section h2 {
    padding-left: 0px;
    border-left: 0px;
    font-style: normal;
    font-weight: 800;
    display: inline-block;
    color: $primary;
    font-family: Open Sans;
}

// Timeline
//Variables
$gray: #9F9FA3;
$blue: #00637C;
$white: #DBF1FF;

.ProgressBar {
    margin: 0 auto;
    padding: 2em 0 3em;
    list-style: none;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.ProgressBar-step {
    text-align: center;
    position: relative;
    width: 100%;

    &:before,
    &:after {
        content: "";
        height: 0.1em;
        background-color: $primary;
        position: absolute;
        z-index: 1;
        width: 100%;
        left: -50%;
        top: 50%;
        transform: translateY(-50%);
        transition: all .25s ease-out;
    }

    &:first-child:before,
    &:first-child:after {
        display: none;
    }

    &:after {
        background-color: $primary;
        width: 0%;
    }
}

.ProgressBar-icon {
    width: 0.4em;
    height: 0.4em;
    background-color: $primary;
    fill: $primary;
    border-radius: 50%;
    padding: 0.4em;
    max-width: 100%;
    z-index: 10;
    position: relative;
    transition: all 0.25s ease-out;
    margin-top: -3px;

}

.ProgressBar-stepLabel {
    display: block;
    color: $primary;
    position: absolute;
    padding-top: 1em;
    width: 100%;
    transition: all .25s ease-out;
}

//FOR CODEPEN FORMATTING
.wrapper {
    max-width: 1000px;
    margin: 4em auto;
    font-size: 12px;
}

//END CODEPEN FORMATTING
// End Timeline

//produkter
.produkter {
    margin-top: 80px;
}

.card {
    text-align: center;
    border-radius: 8px;
    background: $seventh;
    -webkit-box-shadow: 25px 19px 74px -24px rgba(8, 8, 8, 0.44);
    -moz-box-shadow: 25px 19px 74px -24px rgba(8, 8, 8, 0.44);
    box-shadow: 25px 19px 74px -24px rgba(8, 8, 8, 0.44);

    .card-header {
        font-weight: bold;
        background: none;
        border: none;
        font-size: 32px;
        font-weight: 400;
        color: $primary;

    }

    .card-body {
        text-align: left;
    }

    .card-footer {
        background: none;
        border: none;
        margin-bottom: 20px;
    }

    .card-body {
        min-height: 250px;
    }

}

.card-products {
    background: #f8f9fa00;
    box-shadow: 10px 10px 20px #CCCBCB, -10px -10px 20px #FFFFFF;
    border-radius: 8px;
    width: 326px;
    height: 386px;

    .card-header {
        font-weight: 600;
        background: none;
        border: none;
        line-height: 140%;
        font-size: 18px;
        margin: 20px;
        color: $primary;
        letter-spacing: 0.15em;
        -webkit-text-stroke: 1px $primary;
        -webkit-text-fill-color: $primary;
    }

    .card-body {
        min-height: 200px;
        margin-top: -10px;
    }

}

.btn-tilbud {
    width: 240px;
}

.produkt {
    max-width: 400px;
    margin: 40px;
}

//end produkter

.main-container {
    padding: 120px 15px;

}

.icon_phone {
    height: 25px;
    width: 25px;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}
